
@import '../../stylesheets/utils/colors';
@import '../../stylesheets/utils/mixins';

.selectContainer {
    display: block;
    padding-top: 32px;
    gap: 16px;

    @include mq(tab) {
      display: flex;
            }
  }

.container {
  margin: 20px;
}

.select {
  margin-bottom: 20px;
  min-width: 160px;
}


