:root {
  --text-primary: black;
  --text-alernative: white;
  --text-placeholder-input-grey-color: rgba(189, 189, 189, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-grey-color: rgba(166, 166, 166, 1);
  --text-red-color: rgba(255, 101, 150, 1);
  --text-green-color: rgba(36, 204, 167, 1);
  --main-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(255, 255, 255, 0.4);
  --right-side-red-line-status: rgba(255, 101, 150, 1);
  --right-side-green-line-status: rgba(36, 204, 167, 1);
  --main-accent-color-blue: #4a56e2;
  --main-accent-filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  --secondary-accent-color-blue: rgba(110, 120, 232, 1);
  --grey-color-icon: rgba(189, 189, 189, 1);
  --text-modal-green-color: rgba(36, 204, 167, 1);
  --text-modal-grey-color: rgba(224, 224, 224, 1);
  --text-modal-red-color: rgba(255, 101, 150, 1);
  --modal-background-color-white: rgba(255, 255, 255, 1);
  --modal-background-color-grey: rgba(0, 0, 0, 0.25);
  --modal-currency-blue: rgba(74, 86, 226, 1);
  --background-color-dropdown: rgba(255, 255, 255, 0.7);
  --shadow-dropdown: 0px 6px 15px rgba(0, 0, 0, 0.1);
  --filter-dropdown: blur(25px);
  --backgroud-color-dropdown-second: #f6f0ef;
  --filter-dropdown-display-none: blur(2px);
  --btn-green-color: #24cca7;
  --btn-blue-color: rgba(74, 86, 226, 1);
  --btn-text-white: rgba(255, 255, 255, 1);
  --btn-text-blue: rgba(74, 86, 226, 1);
  --green-circle-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  --red-circle-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  --btn-green-color-hover: rgb(115, 248, 219);
  --btn-green-color-active: rgb(38, 177, 147);
  --btn-blue-color-hover: rgb(124, 133, 235);
  --btn-blue-color-active: rgb(29, 41, 177);
  --grey-bottom-border-table: rgba(220, 220, 223, 1);
  --box-shadow-table: rgba(255, 255, 255, 0.6);
  --background-white-color: rgba(255, 255, 255, 1);
  --background-grey-color: rgba(255, 255, 255, 0.4);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1280px;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.container {
  display: block;
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.listNames {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 58px;
  margin-top: 0;
  margin-bottom: 9px;
  border-radius: 29px;
  align-items: center;
  background-color: #fff;
}

.nameElement {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.listTransaction {
  margin: 0 0 15px 0;
}

.elementTransaction {
  color: #000;
  display: flex;
  height: 54px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border-bottom: 1px solid #DCDCDF;
}

.sum {
  margin-left: auto;
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.listAll {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.elementListAll {
  display: flex;
  justify-content: space-between;
}

.elementAllText {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 17px;
}

.elementAllCosts {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #e02b3a;
}

.elementAllIncome {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0c942a;
}/*# sourceMappingURL=Table.module.css.map */