@import '../../../stylesheets/vars';

.statsButton{
    border:none;    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:var(--btn-green-color);
    color: var(--text-alernative);
    margin:50px;
    @include font-type(null, text-big);
    cursor: pointer;
    transition: transform .2s;
    }

.statsButton:hover{
    transform: scale(1.2);
}
    
    .statsButtonContainer{
        @include flex-display(null,null,flex-end);
        position:fixed;
        bottom:20px;
        right:0px;
    }

 