@import '../../stylesheets/utils/mixins';

.primary{
    @include mq(desk){
    display: grid;
    grid-template-columns: auto auto;}
    @include mq(tab){
        display:flex;
        flex-direction: column;

    }
    @include mq(desk){
        display:flex;
        flex-direction: row;

    }
}

.secondary{
    @include mq(tab){
        display:grid;
        grid-template-columns: auto auto;
    }
}

.statsMain {
display:flex;
justify-content: center;
margin:46px 46px;
}

.statsMain table {
    border-collapse: collapse;
    width: 715px;
    text-align: center;
    border-spacing:20px;

}
.statsMain thead {
height: 58px;
font-family: Circe;
font-size: 18px;
font-weight: 700;
background-color: white;
border-collapse: collapse;    

}
td:first-child,
th:first-child {
  border-radius: 30px 0 0 30px;
}
td:last-child,
th:last-child {
  border-radius: 0 30px 30px 0;
}



.statsMain th {
 padding:20px;
 border-collapse:collapse;
    }

    .statsMain tbody {
       
        font-family: Circe;
        font-size: 16px;
        font-weight: 400;
        }
    .statsMain tbody tr {
            height: 58px;
            border-top: 1px #DCDCDF solid;
               
            }

.wallet {
    font-family: 'poppins';
    font-weight: 700;
    font-size :30px;
    line-height: 45px;
    color: var(--text-primary);
}

.statsButton{
border:none;    
width: 44px;
height: 44px;
border-radius: 50%;
background-color:var(--btn-green-color);
color: var(--text-alernative);
margin:50px;
font-size: 20px;
cursor: pointer;
}

.statsButtonContainer{
    display:flex;
    justify-content: flex-end;
}

.logo svg{
    width: 40px;
    height: 40px;
    margin:0px 20px;
    border: white;
    }
    
.button{
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border:none;
    
}

    .exit svg{
        width: 18px;
        height: 18px;
        margin: 0px 12px
    }
    
    .container{
        display:flex;
        background-color: var(--main-background-color);
        justify-content: space-between;
        height: 80px;
    }
    
    .main {
        display:flex;
        align-items: center;
        
    }
    
    .logout{
        font-family: 'Circe';
        color: var(--text-grey-color);
        font-size: 18px;
        font-weight: 400;
        margin:20px;
    }
    
    .dot{
     border: 1px solid #BDBDBD;
     height: 30px; 
     margin:12px
    }
    
    .home svg
    {
    height: 18px;
    width: 18px;
    
    }
    
    .stats svg{
        height: 18px;
        width: 18px;
       
    }
    
    .textPlain{
        font-family:"Poppins"; 
        font-size: 18px;
        margin: 12px;
    }
    
    .balanceMain{
        width: 336px;
        height: 80px;
        border-radius:30px;
        background-color: var(--main-background-color);
        padding:10px 25px;
        margin:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .mainHome{
        display:flex;
        align-items: center;
        margin: 40px 0px 0px 20px
        
    }
    
    .mainStats{
        display:flex;
        align-items: center;
        margin: -10px 0px 0px 20px
    }
    
    .balanceTitle{
        font-size: 12px;
        font-family: "Circe";
        color: var(--text-grey-color);
        margin:0
    }
    
    .balanceNumber{
        font-size: 30px;
        margin:0px;
        font-family: "Circe";
        color: var(--text-grey-color);

    }
    
    .mainLayout{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .tableCurrency{
        width: 386px;
        height: 182px;
        border: 1px solid --text-primary;
        border-radius:30px;
        text-align: center;
        padding-bottom:40px;
        background-color:var(--main-accent-color-blue);
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -8.67%, rgba(255, 255, 255, 0) 116.22%) ;
        
    }
 


    .mainTable{
        display:flex;
        align-items: center;
        margin:20px;
    }
    
    .tableHead{
    margin:12px;
    font-family: "Circe";
    font-size: 18px;
    color: var(--text-white-color)
    }
    
    .tableTr {
        font-family: "Circe";
        font-size: 16px;
        color: var(--text-white-color)
    }

    .tableValue{
    text-align: start;
    padding:20px;
    }
    
    .tableAdjust{
        padding-bottom: 40px;
    }

    .containerHeader{
        display:flex;
        justify-content: space-between;
        height: 80px;
        background-color: white;
    }

    .pageHomeContainer{
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(25px);
    }