@import '../../stylesheets/vars';

.mainHome{
    @include flex-display(null,null,null,center);
    margin: 40px 0px 0px 20px    
}
.mainHome:hover{
    transition: transform .2s;
    transform: scale(1.05);
}

.home svg
{
height: 18px;
width: 18px;

}

.stats svg{
    height: 18px;
    width: 18px;
   
}

.textPlain{
    font-family:"Poppins"; 
    @include font-type(normal, text-medium);
    margin: 12px;
}

.mainStats{
    @include flex-display(null,null,null,center);
    margin: -10px 0px 0px 20px
}
.mainStats:hover{
    transition: transform .2s;
    transform: scale(1.05);
}



.homeMob{
    display:flex;
    justify-content: center;
}

.homeMobIcon svg{
    width: 38px;
    height: 38px;
    margin: 38px;
}

