@import '../../stylesheets/vars';

.mainHome{
    @include flex-display(null,null,null,center);
    margin: 40px 0px 0px 20px
    
}

.home svg
{
height: 18px;
width: 18px;

}

.stats svg{
    height: 18px;
    width: 18px;
   
}

.textPlain{
    font-family:"Poppins"; 
    @include font-type(normal, text-medium);
    margin: 12px;
}

.mainStats{
    @include flex-display(null,null,null,center);
    margin: -10px 0px 0px 20px
}

.button{
    cursor: pointer;
    @include flex-display(row,null,null,center);
    background: none;
    border:none;
    transition: transform .2s;    
}

.button:hover{
    transition: transform .2s;
    transform: scale(1.2);
}

.homeMob{
    display:flex;
    justify-content: center;
}

.homeMobIcon svg{
    width: 38px;
    height: 38px;
    margin: 38px;
}