@import '../stylesheets/utils/colors';
@import '../stylesheets/utils/mixins';

.statisticsContainer {
    padding: 0 32px;
    justify-content: space-between;
    margin-bottom: 27px;

    @include mq(tab)  {
        display: flex;
    }
    @include mq(desk) {
        display: flex;
    }

}

.statisticsSelect {
    display: block;
    
    @include mq(tab)  {
        display: flex;
    }
    @include mq(desk) {
        display: flex;
    }
}

.statisticsPage {
    display: block;

    @include mq(tab)  {
        display: block;
    }
    @include mq(desk) {
        display: block;
    }
}
