@import '../../stylesheets/vars';

.statsMain {
  @include flex-display(null,null,center);
    margin:46px 46px;
    }
    
    .statsMain table {
        border-collapse: collapse;
        width: 715px;
        text-align: center;
        border-spacing:20px;
    
    }
    .statsMain thead {
    height: 58px;
    font-family: Circe;
    @include font-type(bold, text-medium);
    background-color: white;
    border-collapse: collapse;    
    
    }
    td:first-child,
    th:first-child {
      border-radius: 30px 0 0 30px;
    }
    td:last-child,
    th:last-child {
      border-radius: 0 30px 30px 0;
    }
    
    
    
    .statsMain th {
     padding:20px;
     border-collapse:collapse;
        }
    
        .statsMain tbody {
           
            font-family: Circe;
            @include font-type(normal,text-normal);
            }
        .statsMain tbody tr {
                height: 58px;
                border-top: 1px #DCDCDF solid;
                   
                }
    