:root {
  --text-primary: black;
  --text-alernative: white;
  --text-placeholder-input-grey-color: rgba(189, 189, 189, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-grey-color: rgba(166, 166, 166, 1);
  --text-red-color: rgba(255, 101, 150, 1);
  --text-green-color: rgba(36, 204, 167, 1);
  --main-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(255, 255, 255, 0.4);
  --right-side-red-line-status: rgba(255, 101, 150, 1);
  --right-side-green-line-status: rgba(36, 204, 167, 1);
  --main-accent-color-blue: #4a56e2;
  --main-accent-filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  --secondary-accent-color-blue: rgba(110, 120, 232, 1);
  --grey-color-icon: rgba(189, 189, 189, 1);
  --text-modal-green-color: rgba(36, 204, 167, 1);
  --text-modal-grey-color: rgba(224, 224, 224, 1);
  --text-modal-red-color: rgba(255, 101, 150, 1);
  --modal-background-color-white: rgba(255, 255, 255, 1);
  --modal-background-color-grey: rgba(0, 0, 0, 0.25);
  --modal-currency-blue: rgba(74, 86, 226, 1);
  --background-color-dropdown: rgba(255, 255, 255, 0.7);
  --shadow-dropdown: 0px 6px 15px rgba(0, 0, 0, 0.1);
  --filter-dropdown: blur(25px);
  --backgroud-color-dropdown-second: #f6f0ef;
  --filter-dropdown-display-none: blur(2px);
  --btn-green-color: #24cca7;
  --btn-blue-color: rgba(74, 86, 226, 1);
  --btn-text-white: rgba(255, 255, 255, 1);
  --btn-text-blue: rgba(74, 86, 226, 1);
  --green-circle-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  --red-circle-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  --btn-green-color-hover: rgb(115, 248, 219);
  --btn-green-color-active: rgb(38, 177, 147);
  --btn-blue-color-hover: rgb(124, 133, 235);
  --btn-blue-color-active: rgb(29, 41, 177);
  --grey-bottom-border-table: rgba(220, 220, 223, 1);
  --box-shadow-table: rgba(255, 255, 255, 0.6);
  --background-white-color: rgba(255, 255, 255, 1);
  --background-grey-color: rgba(255, 255, 255, 0.4);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1280px;
}

:root {
  --text-primary: black;
  --text-alernative: white;
  --text-placeholder-input-grey-color: rgba(189, 189, 189, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-grey-color: rgba(166, 166, 166, 1);
  --text-red-color: rgba(255, 101, 150, 1);
  --text-green-color: rgba(36, 204, 167, 1);
  --main-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(255, 255, 255, 0.4);
  --right-side-red-line-status: rgba(255, 101, 150, 1);
  --right-side-green-line-status: rgba(36, 204, 167, 1);
  --main-accent-color-blue: #4a56e2;
  --main-accent-filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  --secondary-accent-color-blue: rgba(110, 120, 232, 1);
  --grey-color-icon: rgba(189, 189, 189, 1);
  --text-modal-green-color: rgba(36, 204, 167, 1);
  --text-modal-grey-color: rgba(224, 224, 224, 1);
  --text-modal-red-color: rgba(255, 101, 150, 1);
  --modal-background-color-white: rgba(255, 255, 255, 1);
  --modal-background-color-grey: rgba(0, 0, 0, 0.25);
  --modal-currency-blue: rgba(74, 86, 226, 1);
  --background-color-dropdown: rgba(255, 255, 255, 0.7);
  --shadow-dropdown: 0px 6px 15px rgba(0, 0, 0, 0.1);
  --filter-dropdown: blur(25px);
  --backgroud-color-dropdown-second: #f6f0ef;
  --filter-dropdown-display-none: blur(2px);
  --btn-green-color: #24cca7;
  --btn-blue-color: rgba(74, 86, 226, 1);
  --btn-text-white: rgba(255, 255, 255, 1);
  --btn-text-blue: rgba(74, 86, 226, 1);
  --green-circle-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  --red-circle-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  --btn-green-color-hover: rgb(115, 248, 219);
  --btn-green-color-active: rgb(38, 177, 147);
  --btn-blue-color-hover: rgb(124, 133, 235);
  --btn-blue-color-active: rgb(29, 41, 177);
  --grey-bottom-border-table: rgba(220, 220, 223, 1);
  --box-shadow-table: rgba(255, 255, 255, 0.6);
  --background-white-color: rgba(255, 255, 255, 1);
  --background-grey-color: rgba(255, 255, 255, 0.4);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1280px;
}

.resendBtn {
  cursor: pointer;
  background: var(--btn-green-color);
  border-radius: 20px;
  color: var(--btn-text-white);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  border: 0;
  position: relative;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);
}
.resendBtn:hover:not(.active) {
  box-shadow: 0px 3px 15px 1px var(--btn-green-color-hover);
}
.resendBtn:active {
  transform: translateY(-1px);
  box-shadow: 0px 4px 13px 1px var(--btn-green-color-active);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50000;
}
@media screen and (max-width: 767.98px) {
  .modal__backdrop {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 768px) {
  .modal__backdrop {
    background: var(--modal-background-color-grey);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: var(--modal-box-shadow);
  min-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 767.98px) {
  .modal__content {
    width: 100vw;
    height: 100vh;
    padding: 20px 11px 37px 9px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .modal__content {
    width: 540px;
    padding: 40px 80px;
    align-items: center;
    border-radius: 15px;
    animation: scaleTitle 0.3s ease 1 alternate;
  }
  @keyframes scaleTitle {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}

.successBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .successBox {
    width: 450px;
  }
}

.successIcon {
  width: 100px;
  height: 100px;
  fill: var(--text-green-color);
  color: var(--text-green-color);
  margin-bottom: 20px;
  margin-top: 20px;
}

.successText {
  margin-bottom: 10px;
}

.errorText {
  margin-top: 30px;
  margin-bottom: 10px;
}

.resendBtn {
  height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 50px;
}

.msg {
  margin-top: 10px;
  font-size: 12px;
  color: var(--text-green-color);
}

.errMsg {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}/*# sourceMappingURL=SuccessRegistractionModal.module.css.map */